<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Sheepdata</h1>

		<f:flashMessages />

		<table  class="tx_rssheep" >
			<tr>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.life_number" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.gender" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.birth_date" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.scrapie_status" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.life_number_mother" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.life_number_father" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.remark" /></th>
				<th><f:translate key="tx_rssheep_domain_model_sheepdata.registrant" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{sheepdatas}" as="sheepdata">
				<tr>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.lifeNumber}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.gender}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.birthDate -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.scrapieStatus}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.lifeNumberMother}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.lifeNumberFather}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.remark}</f:link.action></td>
					<td><f:link.action action="show" arguments="{sheepdata : sheepdata}"> {sheepdata.registrant}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{sheepdata : sheepdata}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{sheepdata : sheepdata}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Sheepdata</f:link.action>
	</f:section>
</html>